extends layout

block content
  h1  Battle!
  table(id="boardArea")
  span(id="info")
  script(src='/javascripts/gameClient.js')
  script.
    var playerSocket = initiateGameSocket("#{player}", "#{game}");
    createFriendlyTable(playerSocket);
    