doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(src='/socket.io/socket.io.js')
			script(src='/javascripts/scripts.js')
			script(src='https://code.jquery.com/jquery-1.10.2.js')
			script(src="/javascripts/sockets.js")
	body
		block content
